@model Student
@{
    Layout = "_layout2";
    ViewBag.Title = "details";
}

<div class="container">
    <div class="container table-container">
    <form asp-action="Details" method="post">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" readonly />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeptNo" class="control-label"></label>
            <input asp-for="DeptNo" class="form-control" readonly />
            <span asp-validation-for="DeptNo" class="text-danger"></span>
        </div>
   
        <br />
        <div class="form-group">
            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
        </div>
    </form>
</div>
</div>

