@model User
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="container table-container">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div><br />

        <input type="submit" value="Login" class="btn btn-danger" style="width: 440px; height: 40px;" /><br />

        <div align="left" class="smallgraytext" style="padding:9px;">
            <a asp-controller="user" asp-action="Register">Don’t Have An Account? Register Now</a>
        </div>
    </form>
</div>
</div>
